<select name="data.attribute" id="att-select">
    {{#select data.attribute}}
        <option value="">None</option>
        {{#each config.attributes as |locstring attr|}}
            <option value="{{attr}}">{{localize locstring}}</option>
        {{/each}}
    {{/select}}
</select>