<div class="ed4e flex-item">
    <h4 class="table-title">Using this sheet</h4>
    <ol>
        <li>Player editable fields are surrounded by a box (they are input fields). Any field that is not an input box is auto-calculated.</li>
        <li>Select your character's race and discipline, and enter the character's current circle.</li>
        <li>Enter your character's attribute values at the top of the sheet (note: steps and most basic stats will automatically calculate based on these attributes).</li>
        <li>Navigate different sections of the sheet by clicking on the headings in the bar below the basic defense, health, and initiative info.</li>
        <li>Click the "+" sign to add an item to one of the lists. When adding items, do not add your attribute step to the rank or basic damage - it will be automatically handled.</li>
        <li>Click the edit icon at the right of an item to edit it, or the trash can icon to delete it.</li>
        <li>For armor, click the "Equip" checkbox to equip it. You can have one armor and one shield equipped at a time.</li>
        <li>Miscellaneous modifiers can be added in the "Misc" section - if it's a bonus, just enter the number. If it's a penalty, use a minus sign before the number.</li>
    </ol>
    <em>Note: this is a playtest version, and sheet functions should work, but "should work" are famous last words.</em>
</div>
<div class="ed4e flexcol">
<div class="ed4e flex-item">
    <h4 class="table-title">Rolling Dice</h4>
    <ul>
        <li>Clicking the name of an attribute will roll the dice for that attribute, with the option to add a step modifier, a result modifier, and a karma die.</li>
        <li>Clicking the die icon to the left of a talent or skill will roll the appropriate step for that skill.</li>
        <li>Clicking the image icon next to a <em>weapon</em> will roll the weapon's <em>damage</em> step (plus the appropriate attribute step).</li>
        <li>Clicking the d20 icon at the bottom of the chat window will call up a generic roll dialog, where you can pick the appropriate step to roll.</li>
        <li>Karma, damage, wounds, and recovery tests are not tracked - you will need to manually edit those fields at this time. <strong>However,</strong> wound penalties <em>are</em> automatically applied to rolls.</li>
    </ul>
</div>
<div class="ed4e flex-item">
    <h4 class="table-title">Other Notes</h4>
    <ul>
        <ol>Carry capacity does not match the Earthdawn 4E characteristics table because the book rules do not appear to use a standard formula. In the interest of ease-of-programming, carry weight in this system is equal to <strong>(Strength x 10) - 5</strong> (meaning most characters gain a slight boost in maximum carry capacity). Carry Weight can be adjusted to match rules-as-written using the Misc tab.</ol>
    </ul>
</div>
</div>