<div class="ed4e flex-item">
    <h4 class="table-title">Legend</h4>
    <table class="item-table">
        <tr>
            <td><strong>Total Legend Points</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.legend.total" value="{{data.legend.total}}" /></td>
        </tr>
        <tr>
            <td><strong>Current Legend Points</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.legend.current" value="{{data.legend.current}}" /></td>
        </tr>
        <tr>
            <td><strong>Renown</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.legend.renown" value="{{data.legend.renown}}" /></td>
        </tr>
        <tr>
            <td><strong>Reputation</strong></td>
            <td><input type="text" class="ed4e value-input-wide" name="data.legend.reputation" value="{{data.legend.reputation}}" /></td>
        </tr>
    </table>
</div>