<div class="ed4e flex-item">
    <h4 class="table-title">Portrait</h4>
    
        <img src="{{data.portrait}}" data-edit="data.portrait" title="{{actor.name}} portrait" style="width:auto; max-width:30%; border:0; margin:auto; display:block">    
    
</div>