
{{#each config.steps as |dice step|}}
    {{#unless (or (eq step "s1") (eq step "s2"))}}
    <!--div class="ed4e flex-item" style="color:white; background:black; font-size:0.75em; margin-top:6px; min-width:100px; max-width:100px; text-align:center; border:1px solid black; padding:1px"-->
    <div class="ed4e flex-item ed4e-button" style="font-size:1em; margin-top:6px; min-width:120px; max-width:120px; text-align:center">
        <a class="step-roll" data-step="{{stepnum step}}" data-roll-type="General Step"><span style="text:align:center;"><strong>{{stepnum step}}</strong><br/>{{dice}}</span></a>
    </div>
    {{/unless}}
{{/each}}
