<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </header>

    {{!-- Attributes / Defenses / Initiative --}}
   
        <div class="ed4e flexrow">
    
                {{> "systems/ed4e/templates/actor/partials/attributes.hbs"}}
                {{> "systems/ed4e/templates/actor/partials/defenses.hbs"}}
                {{> "systems/ed4e/templates/actor/partials/init-move-karma.hbs"}}
            {{!--Initiative Partial--}}
        </div>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="ed4e item" data-tab="main">Essentials</a>
        <a class="ed4e item" data-tab="magic">Magic</a>
        <a class="ed4e item" data-tab="matrix">Equipment</a>
        <a class="ed4e item" data-tab="legend">Legend</a>
    </nav>
    
    {{!--Body Divs--}}
    <section class="sheet-body">
        <div class="tab main" data-group="primary" data-tab="main">Main Stuff</div>
        <div class="tab magic" data-group="primary" data-tab="magic">Magic Stuff</div>
        <div class="tab gear" data-group="primary" data-tab="gear">Equipment Stuff</div>
        <div class="tab legend" data-group="primary" data-tab="legend">Legend Stuff</div>
    </section>
    
</form>

