<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>


    
    <section class="sheet-body">
        <div class="s7 flexcol">
            <div class="s7 flexrow">
            </div>
        </div>
        <div class="s7 flexcol">
            <div class="s7 flexrow">
                <div class="s7 flex-item">
                    
                </div>
            </div>

        </div>
    </section>
</form>
