@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

@font-face {
    font-family: Willow;
    src: url("../fonts/willow__.ttf");
}

.ed4e table, th {
    border:none;
}

.ed4e a:hover {
    text-shadow: 0 0 8px rgb(238, 36, 0);
}

.ed4e select {
    width:100%;
}

.ed4e .window-content {
    background:url("../assets/seamless_parch2.jpg");
    background-repeat:repeat;
}

.item-table tr {
    border-top:1px solid rgb(43, 43, 43);
    border-bottom:1px solid rgb(43, 43, 43);
    border-collapse:collapse;

}
table tr:nth-child(even) {
    background:none !important;
  }

.ed4e .flexrow {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}

.ed4e input[type='checkbox'] {
    height:14px;
}
.ed4e .flexcol {
    display:flex;
    flex-flow:column nowrap;
    justify-content:stretch;
}
.ed4e .flex-item {
    margin-left:2px;
    margin-right:2px;
    flex:1;
}

.ed4e .flex-item table {
    flex:1;
}

.inset {
    padding:6px;
    margin-top:6px;
    margin-bottom:6px;
    background: rgba(0, 0, 0, 0.062);
    border:1px solid rgba(0, 0, 0, 0.473);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.75);
}

.border-right-light {
    border-right:double rgb(43, 43, 43);
}
.ed4e .flex-attribute {
    height:auto;
    width:auto;
    margin-left:2px;
    margin-right:2px;
    font-family: 'Willow', 'IM Fell Double Pica SC', serif;
    flex:1;
    align-items:flex-start;
    text-align:center;
    font-size:1.25em;
}

.ed4e .value-input {
    width:3ch;
    text-align:center;
    background:none;
}

.ed4e .value-input-wide {
    width:8ch;
    text-align:right;
}

.ed4e .left {
    text-align:left;
}

.roll-name {
font-weight:700;
display:flex;
flex-direction:row;
}

.taskroll-final {
    text-align:center; 
    width:3ch;
    margin-left:auto;
    margin-bottom:2px;
    margin-right:2px;
    background:rgb(255, 188, 44); 
    border:1px solid rgb(0, 0, 0);
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
  }

.taskroll-tt {
    display:none;
}

.center {
    text-align:center;
}

.add-item {
    margin-left:auto;
    margin-right:3px;
}

.inv-header {
display:flex;
flex-direction:row;

}

.noborder {
    border:none !important;
}

.effect-info {
    display:none;
    font-style:italic;
    border-top:none !important;
    border-bottom:none !important;
}


.weapon-image:hover img {
    content: url('../assets/dice-target.svg');
   
  
  }

.melee-icon {
    content: url('../assets/fist.svg');
    height:14px;
    width:14px;
    vertical-align: middle;
}


.ranged-icon {
    content: url('../assets/bullseye.svg');
    height:14px;
    width:14px;
    vertical-align: middle;
}

.ed4e .tabs .item.active {
    text-shadow:  0 0 8px gold;
}

.table-title {
    text-transform:uppercase;
    font-weight:bold;
    text-align: center;
    font-family: 'Willow', serif;
    font-size:1.25em;
}

.ed4e-button {
    color:black;
    background:gold;
    padding-left:6px;
    padding-right:6px; 
    height:100%;
    border:1px solid rgb(36, 36, 36); 
    width:100%;
    border-radius:1px;
    box-shadow: inset 0 0 1px 2px rgba(82, 81, 0, 0.459);
}

.ed4e-button:hover {
    color:white;
    background:black;
    border:1px solid rgb(148, 53, 53);
}

.dark-gold {
    background-color:rgba(230, 206, 72, 0.8);
}