{{#each data.attributes as |att name|}}
<div class="s7 flex-attribute center inset dark-gold" >
<p>
    <strong>
    <a class="attr-roll ed4e-button" style="margin-right:2px; text-align:center;" data-attr-name="{{name}}">
    {{localize (concat "ED4E.attributes_short." name)}}
    </a>
    </strong>
    <span>
        <input type="text" class="ed4e value-input" style="background:gold;" name="data.attributes.{{name}}.step" value="{{att.step}}" data-dtype="Number" /></span> | 
</p>
</div>
{{/each}}